
<div{{ attributes.addClass(
'layout-container'
) }}>

  <!-- HEADER -->
  <header>
    <div id="site-header" class="container page-width">

      {% if page.header %}
        {{ page.header }}
      {% endif %}

      {# Hamburger navigation trigger #}
      <div id="hamburger-navigation">
        <button id="hamburger" class="hamburger hamburger--squeeze" type="button"
                aria-label="Menu" aria-controls="navigation-panel" aria-expanded="false">
{#          <span class="hamburger-label">Menu</span>#}
          <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        </button>
      </div>

      <div class="navigation-wrapper">

        <div id="navigation-panel">
          <div class="wrapper__menu--main">{{ drupal_menu('main') }}</div>
          <div class="grouped-menus">
            <div class="wrapper__menu--secondary">{{ drupal_menu('secondary') }}</div>
            <div class="wrapper__menu--featured">{{ drupal_menu('featured') }}</div>
          </div>
        </div>

        {% if page.navigation_secondary %}
          {{ page.navigation_secondary }}
        {% endif %}

      </div>

    </div><!-- /#site-header -->

  </header>

  <!-- MAIN PAGE CONTENT -->
  <main id="main-content" tabindex="-1">

    <!-- PRE-CONTENT -->
    {% if page.pre_content %}
      <div id="pre-content">
        <div class="container">
          {{ page.pre_content }}
        </div><!-- /.container -->
      </div><!-- /#pre-content -->
    {% endif %}

    <!-- PRIMARY-CONTENT -->
    <div id="primary-content">
        <div class="container">

            <div id="content">
              {% if is_front %}
                <h1 class="visually-hidden">Homepage</h1>
              {% endif %}



                {{ page.content }}




            </div><!-- /#content -->
        </div><!-- /.container -->
    </div><!-- /#primary-content -->

  </main>

    <!-- FOOTER -->
    <footer class="margin-top bg__ice">
        <div class="container">

          <div id="footer-first">
            {{ page.footer_first }}
          </div><!-- /#footer-first -->

          <div id="footer-second">
            <div class="social-men-wrapper margin-top-small" role="navigation" aria-label="Social Media Links">
              <ul class="menu">
                <li><a href="https://www.facebook.com/tofuacton/" target="_blank" class="facebook">
                    <span class="sr-only">Facebook</span>
                    <i class="icon"></i>
                  </a>
                </li>
                <li><a href="https://twitter.com/tofuacton" target="_blank" class="twitter">
                    <span class="sr-only">Twitter</span>
                    <i class="icon"></i>
                  </a>
                </li>
                <li><a href="https://www.instagram.com/tofuacton/" target="_blank" class="instagram">
                    <span class="sr-only">Instagram</span>
                    <i class="icon"></i>
                  </a>
                </li>
                <li><a href="https://www.youtube.com/user/TheDiscoveryMuseums" target="_blank" class="youtube">
                    <span class="sr-only">Youtube</span>
                    <i class="icon"></i>
                  </a>
                </li>
                <li><a href="https://www.linkedin.com/company/tofuacton/" target="_blank" class="linkedin">
                    <span class="sr-only">Linkedin</span>
                    <i class="icon"></i>
                  </a>
                </li>
              </ul>

            </div>
          </div><!-- /#footer-second -->

          <div id="footer-third">
            {{ page.footer_third }}
         </div><!-- /#footer-third -->


        </div><!-- /.container -->
    </footer>

</div><!-- /.layout-container -->
