
{%
  set classes = [
  'card',
  'card-item',
  'container',
  custom_class,
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="card-wrapper">
    <div class="card-content">
    {{ title_suffix }}

      {% if content.field_image|render %}
        <div class="image-wrapper">
          {{ content.field_image }}
        </div>
      {% endif %}

      <div class="item-heading-wrapper">
        {{ content.field_item_heading }}
      </div>

      {% if content.field_text|render %}
        <div class="text-wrapper">
          {{ content.field_text }}
        </div>
      {% endif %}

    </div>
  </div>
</article>

{% set ical_link = 'data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0ADTSTART:' ~ atc_start_date|date("Ymd\\THi00\\Z") ~ '%0ADTEND:' ~ atc_end_date|date("Ymd\\THi00\\Z") ~ '%0ASUMMARY:' ~ atc_title ~ '%0ADESCRIPTION:' ~ atc_details|striptags ~ '%0ALOCATION:' ~ atc_location|replace({'<br />
': ' ', '<br />
': ' ', '
<p>': ' ', '</p>
': ''}) ~ '%0AEND:VEVENT%0AEND:VCALENDAR' %}
